.header__lang-link_active {
  text-decoration-line: underline;
  text-underline-offset: 5px;
}
@media (min-width: 1024px) {
  .header__lang-link_active {
    position: relative;
  }

  .header__lang-link_active::after {
    content: "";
    position: absolute;
    bottom: 3px;
    border: 1px solid black;
    left: 0px;
    width: calc(100% - 2px);
    height: 2px;
    background-color: white;
  }
}
