.lead__title {
  max-width: 720px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 768px) {
  .lead__title {
    font-size: calc((100vw - 320px) / (768 - 320) * (96 - 40) + 40px);
  }
}
