.place__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #ffffff;
  transition: opacity 0.2s ease-in-out;
  display: block;
  padding-top: 12px;
}

.place__link:hover {
  opacity: 0.8;
}
