.cover__title {
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .cover__title {
    max-width: calc((100vw - 320px) / (768 - 320) * (560 - 250) + 250px);
    font-size: calc((100vw - 320px) / (768 - 320) * (72 - 32) + 32px);
    line-height: calc((100vw - 320px) / (768 - 320) * (76 - 35) + 35px);
  }
}

@media (max-width: 320px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 35px;
  }
}
